/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3,
.grid-item-4 {
  background-color: lightsalmon;
}
/* can't touch this 🔨 */

.grid-container {
  display: grid;
  grid-template-columns: 250px 25px 1fr 10px 1fr 25px 300px;
  grid-template-rows: 200px 10px 300px 10px 10px;
}
